hr {
    max-width: 200px;
}
header .header-content .header-content-inner h1 {
    text-transform: none;
}
.navbar-default .navbar-header .navbar-brand {
    text-transform: none;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #434F5A;
}
footer h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
    font-weight: 700;

}
footer p {

    color: #fcf8e3

}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 40px;
    position: relative;
    min-width: 100px;

}
p {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
    cursor: inherit;
    display: block;
}
