hr {
    max-width: 200px;
}
header .header-content .header-content-inner h1 {
    text-transform: none;
}
.navbar-default .navbar-header .navbar-brand {
    text-transform: none;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #434F5A;
}
footer h3 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: white;
    font-weight: 700;

}
footer p {
    color: #fcf8e3
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-bottom-left-radius: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 40px;
    position: relative;
    min-width: 100px;

}
p {
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
    cursor: inherit;
    display: block;
}
.fa-fw {
    font-size: 40px;
}

.fa{

    font-size: 30px;
}




.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .file-upload {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #FFFFFF;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #(56,56,56,0) 50%, #FFFFFF 50%);
  background-size: 100% 200%;
  transition: all 1s;
  color: #FFFFFF;
  font-size: 100px;
}
.wrapper .file-upload input[type='file'] {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.wrapper .file-upload:hover {
  background-position: 0 -100%;
  color: #E74C3C;
}
.recipe-card {
  background: #fff;
  margin: 4em auto;
  width: 90%;
  max-width: 496px;
}
article {
  padding: 1.25em 1.5em;
}
